<body data-gr-c-s-loaded="true" cz-shortcut-listen="true">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</a>
            </div>
        </div>
    </nav>


    <div class="container main" id="app" v-cloak>

        <div class="two-column">
            <div>
                <button class="btn btn-lg" v-on:click="GetCurrentTime">Get the time</button>
            </div>

            <div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Id</td>
                                <td>time</td>
                                <td>clientIp</td>
                                <td>utcTime</td>
                            </tr>
                            <tr>
                                <td>{{ currentTimeRequest.currentTimeQueryId }}</td>
                                <td>{{ currentTimeRequest.time }}</td>
                                <td>{{ currentTimeRequest.clientIp }}</td>
                                <td>{{ currentTimeRequest.utcTime }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="two-column">
            <div class="">
                <select class="btn btn-secondary dropdown-toggle" v-model="targetZone">
                    <option v-for="zone in timezones" v-bind:value="zone" v-on:click="UpdateToLocalizedTime">{{ zone }}</option>
                </select>
            </div>
            <div class="">
                <button class="btn btn-lg" v-on:click="ToggleDisplayData">{{ toggleMessage }}</button>
            </div>
        </div>

        <div class="row">
            <h2 class="sub-header">Previous Entries</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>time</th>
                            <th>clientIp</th>
                            <th>utcTime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="entry in displayData">
                            <td>{{ entry.currentTimeQueryId }}</td>
                            <td>{{ entry.time }}</td>
                            <td>{{ entry.clientIp }}</td>
                            <td>{{ entry.utcTime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>