<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../Content/keyIcon.ico">

    <title>@ViewBag.Title</title>

    <link href="../Styles/styles.css" rel="stylesheet">
    <link href="../Styles/bulma.css" rel="stylesheet">

</head>

<body>
    @RenderBody()

    <script src="../../Scripts/moment.js"></script>
    <script src="../../Scripts/moment-timezone-with-data.js"></script>
    <script src="../../Scripts/lodash.js"></script>
    <script src="../../Scripts/index.js"></script>
    <script src="../../Scripts/q.js"></script>
    <script src="../../Scripts/vue.js"></script>

</body>
</html>
