<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../Content/keyIcon.ico">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->

    <!-- Custom styles for this template -->
    <link href="../Styles/styles.css" rel="stylesheet">
    <link href="../Styles/bulma.css" rel="stylesheet">

</head>

<body>
    @RenderBody()


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../Scripts/moment.js"></script>
    <script src="../../Scripts/moment-timezone-with-data.js"></script>
    <script src="../../Scripts/lodash.js"></script>
    <script src="../../Scripts/index.js"></script>
    <script src="../../Scripts/q.js"></script>
    <script src="../../Scripts/vue.js"></script>

</body>
</html>
